@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

body {
    margin: 0;
    background-color: #002a5c;
    color: white;
    display: grid;
    grid-template-rows: repeat(autofit, minmax(30px, 1fr));
}

#title {
    position: fixed;
    z-index: 2;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    top: 0;
    background-color: #001e42;
    width: 100%;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    width: auto;
}

#subtitle {
    font-size: 30px;
}

#exposition {
    position: absolute;
    z-index: 1;
    font-family: 'B612', sans-serif;
    font-size: 25px;
    background-color: rgba(72,86,103,0.8);
    padding: 30px 20px 20px 20px;
    margin: 300px 300px 300px 300px;
}

#campus_photo {
    z-index: 0;
    position: relative;
    text-align: center;
    display: block;
    margin: 300px auto 0 auto;
    height: 100vh;
    width: auto;
    opacity: 0.5;
}
